.MainVisual {
    position: relative;
    height: 100vh;
    background: $color-main;

    .slogon {
        @include position_center();
        max-width: $size-inner;
        width: 100%;

        h2 {
            font-size: $size-h2;
            font-weight: 700;
            color: $color-white;
            margin: 0 0 10rem 0;
        }
    }
}